body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0px;
}


/* CSS Grid */

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: [header] auto [form] auto [snippet] auto;
  grid-row-gap: 30px;
  grid-template-areas:
    'header header header'
    '. form .'
    '. snippet .';
}

.header-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-template-areas:
    'title'
    'subtitle'
    '.';
}

.form-container {
  display: grid;
  justify-items: center;
  width: 60%;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'form-language'
    'form-data'
    'form-number'
    'form-submit';
}

.item-form {
  grid-area: form;
  justify-self: center;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.item-form-data {
  grid-area: form-data;
  width: 100%;
}

.item-form-language {
  grid-area: form-language;
}

.item-form-number {
  grid-area: form-number;
}

.item-form-submit {
  grid-area: form-submit;
}

.item-header {
  grid-area: header;
}

.item-snippet {
  grid-area: snippet;
}

.item-subtitle {
  grid-area: subtitle;
}

.item-title {
  grid-area: title;
}

.data-fields {
  width: 20%;
}

.error-message {
  font-style: italic;
  color: red;
}


/* Header Gradients */

.ruby-gradient {
  background: rgba(214,35,35);  /* fallback for old browsers */
  background-image: linear-gradient( 70.5deg,  rgba(214,35,35,1) 2.7%, rgba(190,81,184,1) 97.8% );
}

.javascript-gradient {
  background: rgba(255,95,162);  /* fallback for old browsers */
  background-image: linear-gradient( 104.9deg, rgba(255,95,162,1) 2.3%, rgba(254,201,154,1) 92.7% );
}

.python-gradient {
  background: rgba(0,255,176);  /* fallback for old browsers */
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,255,176,1) 0%, rgba(66,105,242,1) 90% );
}


/* Margin and Padding */

.padding-top-l {
  padding-top: 20px;
}

.margin-none {
  margin: 0px !important;
}
